[Unit]
Description=Echo Discovery Service

[Service]
ExecStart=/home/pi/fauxmo/example-minimal.py

[Install]
WantedBy=multi-user.target
Alias=mouselogger.service
